<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #CCEEFF;
            margin: 0px;
        }
        .balance{
            display: flex;
        }
        p{
            margin-right: 20px;
        }
        .info{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .table{
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
        }
        .table1,.table2{
            width: 40%;
            border: none;
            margin-top: 0%;
        }

        h1{
            margin: 0px;
            padding: 4px;
        }
        .top {
            text-align: center;
            width: 100%;
            height: 80px;
            background-color: #8dd0f1;
            font-size: large;
            font-family: "Trirong", serif;
            /* margin-top: 0%; */
            font-weight: 100;
        }

        .cont {
            display: flex;
            margin-top: 30px;
        }

        .box1 {
            margin: auto;
            background-color: #7dc1e3;
            height: 300px;
            width: 300px;
            border: 2px solid black;
            border-radius: 20px;
            text-align: center;
            margin-left: 175x;
            box-shadow: 2px 1px 2px 1px;
        }

        .box2 {
            margin: auto;
            background-color: #7dc1e3;
            height: 300px;
            width: 300px;
            border: 2px solid black;
            border-radius: 20px;
            text-align: center;
            box-shadow: 2px 1px 2px 1px;
            display: inline-block;
        }

        #description {
            height: 50px;
            border-radius: 3px;
        }

        #income {
            border-radius: 3px;
        }

        #amount {
            border-radius: 3px;
        }

        table,
        td {
            border: 1px solid black;
            text-align: center;

        }
        td,th{
            border: none;
        }
        td {
            padding: 10px;
            border: 1px solid blue;


        }

        table {
            margin: auto;
            margin-top: 20px;
            width: 80%;
        }
        
        a{
            text-decoration: none;
            position: absolute;
            right: 10px;
            top: 5px;
            background-color: rgb(19, 60, 85);
            color:  rgb(201,249,255);
            padding: 5px 5px 5px 5px;
        }
        
    </style>
</head>

<body>
    <div class="top">
        <H1>PEETY CASH BOOK</H1>
        <a href="./report">report</a>
    </div>
    <div class="cont">
        <div class="box1">
            <form action="/addincome" method="post">
                <p>Income head</p> <input type="text" id="income" name="IncomeHead" placeholder="Enter your income head">
                <p>Amount</p> <input type="text" id="amount" name="incomeAmount" placeholder="Enter your amount">
                <p>Description</p> <input type="text" id="description" name="incomeDescription" placeholder="Enter your description....">
                <br>
                <br>
                <button>SUBMIT</button>
            </form>
        </div>
        <div class="box2">
            <form action="/addexpense" method="post">
                <p>Expense head</p> <input type="text" id="income" name="expense_head" placeholder="Enter your expense head">
                <p>Amount</p> <input type="text" id="amount" name="expense_amount" placeholder="Enter your amount">
                <p>Description</p> <input type="text"  id="description"name="expense_description" placeholder="Enter your description....">
                <br>
                <br>
                <button>SUBMIT</button>
            </form>
        </div>
    </div>
    <div class="info">
        <div>
            <h1>PEETY CASH BOOK</h1>
            <p>DATE</p>
            <div class="balance">
                <% if (lastIncome && lastIncome.Amount) { %>
                    <p>OPENING BALANCE :</p>
                    <p><%= lastIncome.Amount %></p> 
                <% } %>
                
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="table">
            <div class="table1">
                <table>
                    <tr>
                        <td><b>INCOME HEAD</b></td>
                        <td><b>AMOUNT</b></td>
                    </tr>
                    <% incomevalues.forEach(income => { %>
                        <tr>
                          <td><%= income.IncomeHead %></td>
                          <td><%= income.Amount %></td>
                        </tr>
                      <% }); %>
                </table>
            </div>
            <div class="table2">
                <table>
                    <tr>
                        <td><b>EXPENSE HEAD</b></td>
                        <td><b>AMOUNT</b></td>
                    </tr>
                    <% todayexpenses.forEach(expense => { %>
                        <tr>
                          <td><%= expense.ExpenseHead %></td>
                          <td><%= expense.Amount %></td>
                        </tr>
                      <% }); %>
                </table>
            </div>
        </div>
        <% if (lastIncome) { %>
            <div class="income">
                <div class="balance">
                    <%= lastIncome.TotalIncome %>
                </div>
            </div>
        <% } %>
    </div>
</body>

</html>